/* app css stylesheet */
body{
    font-family: Verdana, Arial, sans-serif;
}
.app{
    background: #ffffff;
}

.fix-br{
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
}
.strong{
    font-weight: bold;
}
#home *{
    text-align: center;
    width: 100%;
}

.nav > li:first-child{
    padding-left: 20px;
}
.mcheck{
    text-align: left;
    padding: 10px 0 5px 10px;
}
.mcheck label > input[type="checkbox"]{
    margin-right: 5%;
}
button.mcheck{
    margin-bottom: 10px;
}

ng-view header {
    margin: 20px 0 ;
}
ng-view header h1{
    color: #2288bb;
}

a.btn.btn-block{
    margin-top: 20px;
}

.success {
    background: lightgreen;
}
.fail {
    background: lightcoral;
}

editable{
    font-size: 2rem;
}
editable >span{
    padding: 2%;
}


/* hide input */
.mradio input[type="radio"] {
    display: none;
}

/* style label */
.mradio input[type="radio"] ~ label {
    display: block;
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.mradio input[type="radio"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
.mradio input[type="radio"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.mradio input[type="radio"]:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
.mradio input[type="radio"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

.mradio input[type="radio"]:checked ~ label {
    color: #777;
}

/* radio focus */
.mradio input[type="radio"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

/* ANIMATIONS*/
.ng-enter, .ng-leave{
    position:absolute;
    left:30px; right:30px;
    transition:0.5s all ease;
    -moz-transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
}

/* enter animation */
.ng-enter {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

/* leave animation */
.ng-leave{
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}


/*slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}