/* app css stylesheet */
body{
    font-family: Verdana, Arial, sans-serif;

}

.app{
    background: #ffffff;
    overflow-y: scroll;
}

.fix-br{
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.strong{
    font-weight: bold;
}

#home{
    text-align: center;
    width: 100%;
}

.header .nav > li:first-child img{
    padding-left: 20px;
}

ng-view header {
    margin: 20px 0 ;
}
ng-view header h1{
    color: #2288bb;
}

a.btn-block{
    margin-top: 20px;
}

.success, .fail{
    color: white;
}
.success {
background-color: #40d025;
}
.fail {
background: #ff2317;
}

editable, date-edit{
    font-size: 2rem;
}
editable > span, date-edit > span{
    padding: 2%;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
button.btn[disabled]{
    color: #000000;
    background-color: lightgrey;
    border: 1px solid grey;
}

input.ng-valid{
    border: 1px limegreen solid;
}
input.ng-invalid.ng-dirty{
    border: 1px #b22222 solid;
    background: #ffccbb;
}

ul.nav-pills.btn-group li a{
   font-size: 1.8rem;
}

.suggestions{
    background: white;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;

    border: 1px solid grey;
    box-shadow: 5px 1px 30px 1px;
}
.suggested{
    border-bottom: 1px solid grey;
    margin-left: 5%;
    width: 90%;
    font-size: 2em;
}
.suggested input{
    display: none;
}
.suggested input:checked + label{
    width: 100%;
    background: #006ee6;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    padding: 10px;
}



/* ANIMATIONS*/
ng-view.ng-enter, ng-view.ng-leave {
    position:absolute;
    left:30px; right:30px;
    transition:0.5s all ease;
    -moz-transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
}

/* enter animation */
ng-view.ng-enter {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

/* leave animation */
ng-view.ng-leave {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

/*slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}