<nav class="navbar navbar-app navbar-absolute-top">
	<ul >
		<li><a href="#home" class="ui-btn ui-btn-inline ">Home <span class="glyphicon glypicon-ok" data-ng-show="true"></span></a> </li>
		<li><a href="#man-name" class="ui-btn ui-btn-inline ">Name <span class="glyphicon glypicon-ok" data-ng-show="true"></span></a> </li>
		<li><a href="#man-adress" class="ui-btn ui-btn-inline ">Adres <span class="glyphicon glypicon-ok" data-ng-show="true"></span></a> </li>
		<li><a href="#man-geb" class="ui-btn ui-btn-inline "> Geboortedatum <span class="glyphicon glypicon-ok" data-ng-show="true"></span></a> </li>
		<li><a href="#optional" class="ui-btn ui-btn-inline ">Email <span class="glyphicon glypicon-ok" data-ng-show="true"></span></a></li>
	</ul>
</nav>