#gegevens>*{
    display: block;
}

/*input[type="checkbox"]{*/
    /*display: inline-block;*/
/*}*/

#man-adres div>label , div>label+input{
    display: inline-block;
    width: 20%;
}

header{
    margin-bottom: 50px;
}
a.ui-btn{
    margin-top: 40px;
}