<div id="form-address" >
    <header>
        <h1>Vul uw gegevens in</h1>
    </header>

    <div>
        <form name="formaddress">
            <fieldset >
                <legend>Adres</legend>
                <div class="form-group">
                    <label for="straat">Straat</label>
                    <input type="text" id="straat" class="form-control" name="straat" autofocus data-ng-model="persoon.adres.straat" placeholder="Straat" required autofocus/>
                </div>

                <div class="form-group clearfix">
                    <div class="form-group pull-left">
                        <label for="huisnummer" >Huisnummer</label>
                        <input type="number" id="huisnummer"  class="form-control" name="huisnummer" min="0" data-ng-model="persoon.adres.huisnr" required/>
                    </div>

                    <div class="form-group pull-left" style="margin-left: 10%">
                        <label for="bus" >Bus</label>
                        <input type="number" id="bus" class="form-control" name="bus" min="0" data-ng-model="persoon.adres.bus" data-ng-change="filledBus = true"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="postcode">Postcode</label>
                    <input type="number" id="postcode" class="form-control" name="postcode" min="0" data-ng-model="persoon.adres.postcode" required/>
                </div>

                <div class="form-group">
                    <label for="gemeente">Gemeente</label>
                    <input type="text" id="gemeente" class="form-control" name="gemeente" data-ng-model="persoon.adres.gemeente" placeholder="Gemeente" required/>
                </div>
            </fieldset>

            <button class="btn btn-primary btn-block" data-ng-disabled="formaddress.$invalid"
                    data-ng-click="formprogress.action('address', '#/form-date')">Doorgaan</button>
        </form>
    </div>
</div>