<div id="register">
    <header style="margin-top: 5%">
        <h1>Registratie</h1>
    </header>


	<div class="form-group" ng-form name="kaartnr">
		<label for="kaartnr">Kaartnummer</label>
		<input class="form-control" id="kaartnr" type="number" data-ng-model="persoon.kaartnummer" required>
	</div>

    <div class="btn-group-vertical btn-block btn-lg" style="margin-top: 5%">
           <a href="#/eid-reg" class="btn btn-default btn-lg" data-ng-class="{disabled: kaartnr.$error.required}">Registreer met e-Id kaart</a>
           <a href="#/form-name" class="btn btn-default btn-lg" data-ng-class="{disabled: kaartnr.$error.required}">Geef manueel uw gegevens in</a>
    </div>
</div>