<div id="confirm-data" >
	<header style="margin-left: 5%">
		<h1>We hebben uw gegevens genoteerd</h1>
	</header>

	<div >
        <div class="col-sm-4 col-md-4 ">
            <img src="image/e5modelogo.jpg" >
        </div>

        <div id="gegevens" class="col-sm-6 col-md-6">

            <p class="strong">
<!--
				<span ng-hide="editing">
					<span data-ng-click="editing = true; " ng-bind="persoon.achternaam"></span>
					<span class="fa fa-pencil"></span>
				</span>
	            <input type="text" name="achternaam" data-ng-show="editing" data-ng-model="persoon.achternaam" ng-blur="editing = false">
-->

	            <editable model="persoon.achternaam" type="text" required="true"></editable>
	            <editable model="persoon.voornaam" type="text" required="true" ></editable>
            </p>

            <p >
                <editable  model="persoon.geslacht" type="text" required="true"></editable>
            </p>
            <p >
                <editable model="persoon.adres.straat" type="text" required="true"></editable>
                <editable model="persoon.adres.huisnr"  type="number" required="true"></editable>
                <editable model="persoon.adres.bus"  type="number" data-ng-show="persoon.adres.bus"></editable>
            </p>
            <p >
                <editable model="persoon.adres.postcode"  type="number" required="true"></editable>
                <editable model="persoon.adres.gemeente" type="text" required="true"></editable>
            </p>
            <p>
                <editable data-ng-bind="persoon.gebooortedatum | date: dateformat" model="persoon.gebooortedatum" type="date" required="true"></editable>
            </p>

            <p data-ng-show="persoon.email">
                <editable model="persoon.email" type="email"></editable>
            </p>
            <p data-ng-show="persoon.telefoon" >
                <editable model="persoon.telefoon" type="number"></editable>
            </p>
        </div>

        <div class="col-sm-10 col-sm-offset-1 form-group">
	        <div class="mcheck">
		        <input type="checkbox" id="check-partner"  data-ng-model="persoon.partners">
		        <label for="check-partner">Mijn gegevens mogen gebruikt worden voor partner aanbiedingen</label>
	        </div>

	        <div class="mcheck">
		        <input type="checkbox" id="check-acties" data-ng-model="persoon.e5acties">
		        <label for="check-acties"> Ik wil geïnformeerd worden over acties van e5mode</label>
	        </div>
        </div>

        <button class="btn {{progress.btn}} btn-block" data-ng-click="goTo(progress.link); progress.update()">{{progress.text}}</button>
    </div>
</div>