<div id="confirm-data" ng-controller="userdataCtrl">
    <header>
        <h1>We hebben uw gegevens genoteerd</h1>
    </header>

    <div >
        <div class="col-sm-4 col-md-4 ">
            <img src="image/e5modelogo.jpg" >
        </div>

        <div id="gegevens" class="col-sm-6 col-md-6">

            <p>
                <editable data-ng-click="editInput($event, ['achternaam'])" >{{persoon.achternaam}}</editable>
                <editable >{{persoon.voornaam}}</editable>
            </p>

            <p >
                <editable  >{{persoon.geslacht}}</editable>
            </p>
            <p >
                <editable >{{persoon.adres.straat}}</editable>
                <editable >{{persoon.adres.huisnr}}</editable>
                <editable  data-ng-show="filledBus">{{persoon.adres.bus}}</editable>
            </p>
            <p >
                <editable >{{persoon.adres.postcode}}</editable>
                <editable >{{persoon.adres.gemeente}}</editable>
            </p>
            <p >
                <editable >{{persoon.gebooortedatum | date:shortDate:format }}</editable>
            </p>

            <p data-ng-show="filledEmail">
                <editable >{{persoon.email}}</editable>
            </p>
            <p data-ng-show="filledTel" >
                <editable >{{persoon.telefoon}}</editable>
            </p>
        </div>

        <div class="col-sm-10 col-sm-offset-1 form-group">
            <button class="btn btn-block">
            <label >
                <input type="checkbox" id="check-partner"  data-ng-model="persoon.partners">
                Mijn gegevens mogen gebruikt worden voor partner aanbiedingen
            </label>
            </button>
            <button class="btn btn-block">
            <label >
                <input type="checkbox" id="check-acties" data-ng-model="persoon.e5acties">
                Ik wil geïnformeerd worden over acties van e5mode
            </label>
            </button>
        </div>

        <button class="btn {{progress.btn}} btn-block" >{{progress.text}}</button>
    </div>
</div>