<div data-role="dialog" id="changeInput" >
    <header data-role="header" data-position="fixed">
        <h1><strong>Pas Je gegevens aan</strong></h1>
    </header>

    <main data-role="main" class="container">
        <label>{{dialogEdit.label}}</label>
        <!--<input type="{{dialogEdit.type}}" value="{{dialogEdit.value}}" data-ng-bind-model="{{dialogEdit.model}}">-->
        <!--{{$scope.dialogChange}} {{dialogChange.value}} {{dialogChange.model}} -->
    </main>

    <a href="#confirm-user" class="ui-btn" >Doorgaan</a>
</div>