<div id="form-name" >
    <header>
        <h1>Vul uw gegevens in</h1>
    </header>

    <form name="formname" >
        <div class="form-group">
            <label >Voornaam</label>
            <input type="text" class="form-control" name="voornaam" data-ng-model="persoon.voornaam" autofocus placeholder="Voornaam"required>
        </div>
        <div class="form-group">
            <label >Achternaam</label>
            <input type="text" class="form-control" name="achternaam" data-ng-model="persoon.achternaam" placeholder="Achternaam" required/>
        </div>
	    <p ng-show="(formname.$invalid && formname.voornaam.$dirty && formname.achternaam.$dirty )" class="help-block">Voornaam en achternaam zijn required.</p>
        <button ng-class="{'btn btn-primary btn-block': true, 'disabled': disabled}" data-ng-disabled="formname.$invalid"
                data-ng-click="formprogress.action('name', '#/form-address')">Doorgaan</button>
    </form>
</div>