<div id="form-date">
    <header>
        <h1>Vul uw gegevens in</h1>
    </header>

    <div>
        <form name="form-date">
            <fieldset >
                <legend >Geslacht</legend>
	            <div class="mradio">
                    <input type="radio" id="man" name="geslacht" value="Man" autofocus data-ng-model="persoon.geslacht"  required/>
	                <label for="man">Man</label>
	            </div>

	            <div class="mradio">
				    <input type="radio" id="vrouw" name="geslacht" value="Vrouw" data-ng-model="persoon.geslacht" checked required/>
	                <label for="vrouw">Vrouw</label>
	            </div>
            </fieldset>

            <fieldset class="form-group">
                <legend>Geboortedatum</legend>
                <input type="date" class="form-control " data-ng-model="persoon.gebooortedatum" required autofocus/>
            </fieldset>

            <button class="btn btn-primary btn-block" data-ng-disable="form-date.$invalid"
                    data-ng-click="formprogress.action('date', '#/confirm-data')">Doorgaan</button>
        </form>
    </div>
</div>
