<div id="form-name" >
    <header>
        <h1>Vul uw gegevens in</h1>
    </header>

    <form name="form-name" >
        <div class="form-group">
            <label >Voornaam</label>
            <input type="text" class="form-control" data-ng-model="persoon.voornaam" placeholder="Voornaam"required>
        </div>
        <div class="form-group">
            <label >Achternaam</label>
            <input type="text" class="form-control" data-ng-model="persoon.achternaam" placeholder="Achternaam" required/>
        </div>

        <a type="submit" href="#/form-address" class="btn btn-primary btn-block"
           ng-disable="form-name.invalid" data-ng-click="formprogress.check('name')">Doorgaan</a>
    </form>
</div>