<div id="form-name" >
    <header>
        <h1>Vul uw gegevens in</h1>
    </header>

    <form name="form-name" >
        <div class="form-group">
            <label >Voornaam</label>
            <input type="text" class="form-control" data-ng-model="persoon.voornaam" placeholder="Voornaam"required>
        </div>
        <div class="form-group">
            <label >Achternaam</label>
            <input type="text" class="form-control" data-ng-model="persoon.achternaam" placeholder="Achternaam" required/>
        </div>

        <a href="#/form-address" class="btn btn-primary btn-block" data-ng-disable="form-name.$invalid" >doorgaan</a>
    </form>
</div>