<div id="optionalinfo">
    <header >
        <h1>Optionele gegevens</h1>
    </header>
    <div >
        <form name="formoptional">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" autofocus data-ng-change="filledData.filled('email')"
                       data-ng-model="persoon.email" data-ng-model-options="{debounce: 2000}" >
				<p ng-show="formoptional.email.$invalid && formoptional.email.$dirty">
					De gegeven email is niet geldig</p>
            </div>

            <div class="form-group">
                <label >Telefoon</label>
                <input type="number"  class="form-control" data-ng-model="persoon.telefoon"
                       data-ng-change="filledData.filled('telefoon')">
            </div>
            <button data-ng-disabled="formoptional.$invalid" class="btn btn-primary btn-block"
                    data-ng-click="formprogress.action('email', '#/confirm-data')">Verder</button>
        </form>

    </div>
</div>